---
export interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<a
  href={href}
  class='text-black dark:text-gray-300 hover:text-gdgoc-primary-blue dark:hover:text-gdgoc-primary-blue transition-colors duration-200 font-medium'
>
  {text}
</a>
