---
const categoryColors = {
  web: 'bg-blue-400 dark:bg-blue-500',
  ds: 'bg-green-400 dark:bg-green-500',
  'ai/ml': 'bg-red-400 dark:bg-red-500',
  org: 'bg-yellow-400 dark:bg-yellow-500',
  tech: 'bg-indigo-400 dark:bg-indigo-500',
  default: 'bg-gray-400 dark:bg-gray-500',
};

const { event } = Astro.props;
---

<div
  onclick={`console.log('Event clicked:')`}
  class={`flex w-[95%] -translate-x-1 rounded-md ${categoryColors[event.category as keyof typeof categoryColors] ?? categoryColors.default} items-center border-l-4 border-blue-500 px-2 py-1 pl-4 text-sm  xl:text-lg font-extrabold text-white transition-all duration-300 ease-in-out hover:opacity-80`}
>
  {event.title}
</div>
