---
import GridMotion from '@/components/react-bits/GridMotion';
import { Image } from 'astro:assets';
const items = [
  // Row 1
  '/events/brewingvanilla.jpg',
  '/events/ideathon.jpg',
  '/events/devmaycry.jpg',
  '/events/devmaycry2.jpg',
  '/events/infosession.jpg',
  '/events/techfortomorow.jpg',
  '/events/gitonboard.jpg',
  // Row 2
  '/events/pythonquest.jpg',
  '/events/reactnative.jpg',
  '/events/tagyoureout.jpg',
  '/events/brewingvanilla.jpg',
  '/events/ideathon.jpg',
  '/events/devmaycry.jpg',
  '/events/devmaycry2.jpg',
  // Row 3
  '/events/infosession.jpg',
  '/events/techfortomorow.jpg',
  '/events/gitonboard.jpg',
  '/events/pythonquest.jpg',
  '/events/reactnative.jpg',
  '/events/tagyoureout.jpg',
  '/events/brewingvanilla.jpg',
  // Row 4
  '/events/ideathon.jpg',
  '/events/devmaycry.jpg',
  '/events/devmaycry2.jpg',
  '/events/infosession.jpg',
  '/events/techfortomorow.jpg',
  '/events/gitonboard.jpg',
  '/events/pythonquest.jpg',
  '/events/reactnative.jpg',
  '/events/tagyoureout.jpg',
];

---
    <section 
      id="about" 
      class="relative w-full overflow-hidden min-h-screen flex flex-col items-center justify-center py-12"
    >  
      <div class="absolute inset-0 z-1">
        <div class="absolute inset-0 bg-white dark:bg-gray-900">
          <div class="absolute inset-0 opacity-10 dark:opacity-10">
            <div class="h-full w-full">
              <GridMotion items={items} client:load client:only/>
            </div>
          </div>
        </div>
      </div>
      <div class="absolute inset-0 z-2"></div>
      <div class="relative z-10 container px-4 sm:px-6 lg:px-8 w-full">
        <div class="w-full">
          <div class="text-center mb-8">
            <div class="flex flex-col gap-2">
              <Image
                src="/gdgoc_logo.svg"
                alt="GDGoC Logo"
                width={128}
                height={128}
                class="w-24 h-24 md:w-32 md:h-32 mt-2 sm:mt-0 sm:mx-auto sm:mb-6"
              />
              <h1 class="text-4xl md:text-6xl font-bold text-black text-left dark:text-white mb-4 tracking-tighter flex flex-row items-center justify-center">
                Google Developer Groups on Campus
              </h1>
            </div>
            <p class="text-xl sm:text-2xl md:text-3xl text-gray-700 dark:text-gray-200 leading-relaxed mb-4 max-w-4xl mx-auto sm:md:text-center text-left">
              <strong class="text-gdgoc-primary-blue dark:text-gdgoc-secondary-blue">Google Developer Student Clubs - University of San Carlos</strong> 
              is a hub mainly for student developers. We offer a supportive environment where students can connect with like-minded peers, 
              fostering a space for collaboration and growth.
            </p>
            
            <div class="p-4 bg-gradient-to-r from-gdgoc-primary-green/5 to-gdgoc-secondary-green/5 rounded-xl border border-gdgoc-primary-green/20 max-w-4xl mx-auto">
              <p class="text-base text-gray-600 dark:text-gray-300 leading-relaxed">
                Through workshops, talks, and project-building activities, students can gain expertise in the latest technologies, 
                empowering them to turn innovative ideas into impactful solutions that address real-world challenges.
              </p>

            </div>
          </div>
        </div>
      </div>
    </section>
