---
import Footer from '@/components/layout/Footer.astro';
import Header from '@/components/layout/Header.astro';
import Layout from '@/layouts/Layout.astro';
import Partners from '@/pages/partners/Partners.astro';
import Team from '@/pages/team/Team.astro';
import About from './About.astro';
import Calendar from './Calendar.astro';
import Hero from './Hero.astro';
---

<Layout
  title='GDGoC USC - Google Developer Groups on Campus'
  description='Join the Google Developer Groups on Campus at University of San Carlos. Learn, build, and connect with fellow developers.'
>
  <Header />
  <main class='w-full'>
    <Hero />

    <About />

    <Calendar />

    <Partners />

    <Team />
  </main>
  <Footer />
</Layout>
