---
import Footer from '@/components/layout/Footer.astro';
import Header from '@/components/layout/Header.astro';
import Layout from '@/layouts/Layout.astro';
import About from './About.astro';
import Hero from './Hero.astro';
import Partners from './Partners.astro';
import Team from './Team.astro';
import Timeline from './Timeline.astro';
---

<Layout
  title='GDGoC USC - Google Developer Groups on Campus'
  description='Join the Google Developer Groups on Campus at University of San Carlos. Learn, build, and connect with fellow developers.'
>
  <Header />
  <main class='w-full'>
    <Hero />

    <About />

    <Team />

    <Partners />

    <Timeline />
    <!-- Events name was taken already 😢 -->
  </main>
  <Footer />
</Layout>
